*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
controls {
    opacity: 0;
}

body {
    color:red;
    font-family: 'Press Start 2P', cursive;
    overflow-y: hidden;
    border: 10px solid;
    background-color:rgba(240, 232, 167, 0.753);
}

button {
    border: 20px rgb(255, 0, 0) solid;
    border-width: 1vh;
    width: 250px;
    height: 100px;
    background: none;
    color: red;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: 125px; 
    font-size: 75px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.intro h2 {
    height: 100px;
}

.intro button {
    margin-top: 50px;
}

.match {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
}

.scores {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message {
    margin-top: 50, 50, 50, 50;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message h2 {
    font-size: 15px;
}

.scores p {
    font-size: 30px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
  }

.hands {
    display: flex;
    flex-direction: rows;
    justify-content: space-around;
    flex-basis: 300px;
}

.player-hand, .computer-hand{
    width: 300px;
  }

.player-hand {
    transform: rotate(90deg);
}

.computer-hand{
    transform: scaleX(-1) rotate(90deg);
}

.options {
    display: flex;
    margin-bottom: 50px;
    margin-top: 0px;
    display:flex;
    justify-content: space-around;
}

.options button {
    margin: 20px;
    /*width: 250px;*/
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}